.app-header {
  border-bottom: 1px solid rgba(165, 221, 245, 0.61);
  margin-bottom: 3em;
  background: rgba(238, 238, 238, 0.47);

  .inner {
    padding: 1em 0;
  }

  .logo {
    font-size: 1.3em;
  }
}
